@model BlogProject_MaryLouiseAnhanceAbrena.Models.Teacher 
@{
    ViewBag.Title = "Show";
}

<h2>Show the Teacher</h2>
@Model.TeacherId
@Model.TeacherFname @Model.TeacherLname
@Model.EmployeeNumber
@Model.HireDate
@Model.Salary