@model BlogProject_MaryLouiseAnhanceAbrena.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Show the Teacher</h2>
<nav>
    <a class="navlink" style="float:left;" href="/Teacher/List">Back to Teachers</a>
    <a class="delLink" style="float:right; color:red" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    <a class="navLink" style="float: left; margin-left: 15px; color:blue" href="/Teacher/Update/@Model.TeacherId">Update</a>
</nav>
<br />
<p>Teacher Id: @Model.TeacherId  </p>
<p> Teacher First name: @Model.TeacherFname </p>
<p>Teacher Last name: @Model.TeacherLname  </p>
<p>Employee number: @Model.EmployeeNumber  </p>
<p>Hire date: @Model.HireDate  </p>
<p>Salary: @Model.Salary  </p>